# END Assignment 8:

Look at this sample file: sample.py
Preview the document You are to write such examples, where you describe the code to be written (starts with #), and the code it should generate. The file shows 3 examples of what text should generate what code. write 100 such examples. These are the requirements:

if you want the code to print something, then mention "print" in the text read the sample.py clearly to see the examples and learn from it. If you want the code to write a program, you are NOT asking to write a function. If you want a function, please mention it. run the code in the terminal/notebook and make sure it runs! you cannot write more than 5 simple functions like add 2/3/4/5 numbers or divide, etc. Try and think of something tough, for example, add a list or tuple together. 

stick to python only (no 3rd party library like numpy, etc)  
here are some examples:
provide the length of list, dict, tuple, etc  
write a function to sort a list  
write a function to test the time it takes to run a function  
write a program to remove stop words from a sentence provided, etc  

This assignment is of 1000 marks. Each example if 10 marks. If your example is similar to someone else, then you score less. The formula we will use is 10/(repeated example). That means if 10 people write same example, then you get only 1. So think different! (if examples are mentioned here and in the sample file, you will score less)
Once done, please upload the file to github and share another link on the LMS.

In [4]:
# 01
# write a python function to square a number and raise a type error if anything other than a number is given 

def square_a_num(num):
    if isinstance(num, int):
        return num**2
    else:
        raise TypeError("Only numbers are allowed")

In [8]:
square_a_num(12)

144

In [9]:
# 02
# write a python function to take two inputs, convert them to string and then return their concatenation

def concatenate_two_strings(inp1, inp2):
    inp1, inp2 = str(inp1), str(inp2)
    return inp1 + inp2

In [10]:
concatenate_two_strings('hello', 25)

'hello25'

In [13]:
# 03
# write a python function to pair corresponding elements of two lists and convert that to a dictionary

def convert_lists_to_dict(l1, l2):
    return dict(zip(l1, l2))

In [14]:
convert_lists_to_dict([1,2,3], [4,5,6])

{1: 4, 2: 5, 3: 6}

In [15]:
# 04
# write a python program to split a long sentence to a list of unique words

sent = '''This is a paragraph written for for the assignment 17B wherein we need to write 100 examples of python functions/programs with corresponding description.'''
words = sent.split()
unique_words = list(set(words))

In [21]:
# 05
# write a function to sort all the elements in a list and then print the element with maximum length along with its length value

def print_element_with_max_length(l):
    l = [str(i) for i in l]
    l = sorted(l, key=len, reverse=True)
    return l[0], len(l[0])

In [22]:
print_element_with_max_length([4, 7, 10, 'ascddas'])

('ascddas', 7)

In [25]:
# 06
# write a python program try changing a tuple and raise error if there is any

tup = (1, 2, 3, 4, 5)
try:
    tup[2] = 8
except TypeError:
    print("Cannot change values in a tuple")

Cannot change values in a tuple

In [26]:
# 07
# write a python function to multiply each elements in a list using list comprehension

def lambda_multiply_by_2(l):
    return [i*2 for i in l]

In [27]:
lambda_multiply_by_2([1,5,8,'hello'])

[2, 10, 16, 'hellohello']

In [30]:
# 08
# write python function to drop and print elements from a list for a given set of indexes

def drop_print_elements_for_indexes(l, i):
    i = sorted(i, reverse=True)
    for idx in i:
        print(l.pop(idx))

In [31]:
drop_print_elements_for_indexes([1,2,3,4,5,6,7,8,9], [3,1,5,0])

6
4
2
1

In [32]:
# 09
# write a python function to get unique elements of a list

def unique_element_of_list(l):
    return list(set(l))

In [33]:
unique_element_of_list([1,2,2,5,5,6])

[1, 2, 5, 6]

In [34]:
# 10
# write a function to create union of two sets

def union_two_sets(s1, s2):
    return s1.union(s2)

In [35]:
union_two_sets({1,2,3}, {2,4,5})

{1, 2, 3, 4, 5}

In [37]:
# 11
# write a python program to create a sample of five numbers between 1 and 20

import random
random.sample(range(1, 20),5)

[15, 11, 12, 10, 3]

In [38]:
# 12
# write a python function to reverse order a list

def reverse_list(l):
    return l[::-1]

In [39]:
reverse_list([1,2,3,4])

[4, 3, 2, 1]

In [43]:
# 13
# write a python program to sort all the words in a string and print the result

s = "Hello, I am here and writing this program."
sl = s.split()
sorted(sl)

['Hello,', 'I', 'am', 'and', 'here', 'program.', 'this', 'writing']

In [42]:
sl

['Hello,', 'I', 'am', 'and', 'here', 'program.', 'this', 'writing']

In [51]:
# 14
# write a python function to sort a list of words based on their first character unsing lambda function

def sort_string_based_1st_chr(sl):
    f = lambda x: x[0]
    sl = sorted(sl, key = f)
    return sl

In [52]:
sort_string_based_1st_chr(['hello', 'how', 'are', 'you'])

['are', 'hello', 'how', 'you']

In [53]:
# 15
# white a function to convert a tuple to a list

def tuple_to_list(t):
    return list(t)

In [54]:
tuple_to_list((1,2,3,4))

[1, 2, 3, 4]

In [55]:
# 16
# write a python function to check if an element is present in a list, return true if found

def element_in_list(e, l):
    return e in l

In [56]:
element_in_list(1, [1,3,4])

True

In [58]:
# 17
# write a python program to apply lambda function to a list to multiply each element by 2

l = [1, 2, 3, 4, 7, 'hey']

f = lambda x: x*2
l = [f(i) for i in l]
l

[2, 4, 6, 8, 14, 'heyhey']

In [64]:
# 18
# write a python program to update a global variable

var = 0

def update_global(inp):
    global var
    var = inp

update_global(5)
var

5

In [65]:
# 19
# write a python function print every alternate elements from a tuple

def print_alt_tuple(t):
    print(t[::2])
    
print_alt_tuple((1,2,3,4,5,6))

(1, 3, 5)

In [66]:
# 20
# wirte python program to print if memory location of two objects with same integer values are same

a = 10
b = 10

print(id(a) == id(10))
a = 1000
b = 1000

print(id(a) == id(10))

True
False

In [67]:
# 21
# write a python function to take and print any number of positional and keyword arguments

def print_any_args_and_kwargs(*args, **kwargs):
    print("postional arguments", args)
    print("keywords arguments", kwargs)
    
print_any_args_and_kwargs(1,2,3, a=4, b=5)

postional arguments (1, 2, 3)
keywords arguments {'a': 4, 'b': 5}

In [68]:
# 22
# write a python program showing memory locations of two variables assigned with exact same long text and then use sys intern to make them use same memory

text1 = "write a python program showing memory locations of two variables assigned with exact same long text and then use sys intern to make them use same memory"
text2 = "write a python program showing memory locations of two variables assigned with exact same long text and then use sys intern to make them use same memory"

print(id(text1) == id(text2))

import sys
text1 = sys.intern("write a python program showing memory locations of two variables assigned with exact same long text and then use sys intern to make them use same memory")
text2 = sys.intern("write a python program showing memory locations of two variables assigned with exact same long text and then use sys intern to make them use same memory")

print(id(text1) == id(text2))

False
True

In [70]:
# 23
# write a python function to remove duplicates from a list using set operation

def remove_duplicates_from_list(l):
    return list(set(l))

remove_duplicates_from_list([1,2,2,4,4,6,7,4])

[1, 2, 4, 6, 7]

In [71]:
# 24
# write a python function to find a list of common elements between two lists using set operation

def find_comm_elems_using_set(l1, l2):
    l1, l2 = set(l1), set(l2)
    return list(l1.intersection(l2))

find_comm_elems_using_set([1,2,3,4,5,5], [3,3,6,4,2,0])

[2, 3, 4]

In [72]:
# 25
# write a python find the count of each element in a list using collections package

def find_elem_occur_in_list(l):
    from collections import Counter
    return Counter(l)

find_elem_occur_in_list([1,2,2,3,3,3,4,4,4,4,5,6,6,0,0])

Counter({1: 1, 2: 2, 3: 3, 4: 4, 5: 1, 6: 2, 0: 2})

In [2]:
# 26
# write a python function to print "Current date and time: " along with actual date and time using f string

def print_current_time_fstring():
    from datetime import datetime
    print(f"Current date and time: {datetime.now()}")
    
print_current_time_fstring()

Current date and time: 2020-12-16 12:32:38.117128

In [4]:
# 27
# write a python function to sum all the input values

def sum_all_values(*args):
    return sum(args)

sum_all_values(2,3,4)

9

In [5]:
# 28
# write a python function to convert a text to its lower case

def convert_string_to_lower(t):
    t = str(t)
    return t.lower()

convert_string_to_lower("Hello, I am here!")

'hello, i am here!'

In [12]:
# 29
# write a python funciton to check if the all the characters in a string are alpha numeric except spaces

def check_string_alphanum(t):
    t = str(t)
    t = t.replace(' ', '')
    return t.isalnum()

check_string_alphanum("Hey how are you")

True

In [14]:
# 30
# write a python program to drop even numbers from a list using filter and lambda

l = [1,2,3,4,5,5,6,7,8,9,0]
new_l = list(filter(lambda x: x%2, l))

new_l

[1, 3, 5, 5, 7, 9]

In [15]:
# 31
# write a python program to square each element in a list using lambda and map

l = [1,2,3,4,5,5,6,7,8,9,0]
new_l = list(map(lambda x: x**2, l))

new_l

[1, 4, 9, 16, 25, 25, 36, 49, 64, 81, 0]

In [18]:
# 32
# write a python function to return the sum of all the elements in a list using lambda and reduce

from functools import reduce

l = [1,2,3,4,5,5,6,7,8,9,0]
new_l = reduce(lambda x, y: x + y, l)

new_l

50

In [20]:
# 33
# write a python function to print all the positive integers less than a given number

def print_int_less_given_int(limit):
    for i in range(1, limit):
        print(i)

print_int_less_given_int(5)

1
2
3
4

In [21]:
# 34
# write a python function to print all the emails from a given text using regex

def print_emails_from_text_regex(text):
    import re
    match = re.search(r'[\w\.-]+@[\w\.-]+', text)
    print(match.group(0))

print_emails_from_text_regex("My email id is bhagabat.p@gmail.com")

bhagabat.p@gmail.com

In [22]:
# 35
# write a python program to swap values of two variables

a = 5
b = 10
print(a, b)

a, b = b, a
print(a, b)

5 10
10 5

In [23]:
# 36
# write a function to convert kelometer to miles where conversion factor is 0.621371

def convert_km_to_miles(km):
    return km*0.621371

convert_km_to_miles(100)

62.137100000000004

In [27]:
# 37
# write a python program to print all the elements of a list sequentially until a number comes that is divisible by 5 using while loop

l = [1, 3, 6, 8, 9, 'hello', 10, 13]
i = 0
while True:
    if isinstance(l[i], int):
        if l[i]%5 == 0:
            break
        else:
            print(l[i])
    i+=1

1
3
6
8
9

In [29]:
# 38
# write a python program to divide 10 by each of elements from a range between -2 to 3 and print "not divisible by zero" if there is division error

for i in range(5):
    try:
        print(10/(i-2))
    except ZeroDivisionError:
        print("not divisible by zero")
        continue

-5.0
-10.0
not divisible by zero
10.0
5.0

In [30]:
# 39
# write a python program to print all the characters in a string along with their position numbers

string = "hey, there!"
for i, j in enumerate(string):
    print(i, j)

0 h
1 e
2 y
3 ,
4
5 t
6 h
7 e
8 r
9 e
10 !

In [33]:
# 40
# write a python function to extend a list by another list

def extend_list_by_another(l1, l2):
    l1.extend(l2)
    return l1

extend_list_by_another([1,2,3,4,5], [6,7])

[1, 2, 3, 4, 5, 6, 7]

In [35]:
# 41
# write a python program all the words from a string that are starting with a vowel using list comprehension

vowels = ['a', 'e', 'i', 'o', 'u']

string = "EPAI has been an amazing course. It provide tremendous opportunity to learn new things and apply those to real world projects."

words = [w for w in string.lower().split() if w[0] not in vowels]

words

['has',
 'been',
 'course.',
 'provide',
 'tremendous',
 'to',
 'learn',
 'new',
 'things',
 'those',
 'to',
 'real',
 'world',
 'projects.']

In [38]:
# 42
# write a python program to get value of a key and if key is not present then get a default value 10

d = {'a':2, 'b':3}
d.get('c', 10)

10

In [39]:
# 43
# write a python program to print a string in reverse order

def print_string_reverse_order(s):
    print(s[::-1])

print_string_reverse_order("Hello")

olleH

In [41]:
# 44
# write a python function to print the size of an object

def sizeof(x):
    import sys
    print(sys.getsizeof(x))

sizeof(100)

28

In [42]:
# 45
# write a python program to print time taken by a square functin that executes for a range of 0 to 1000000

import time

def calc(a):
    for i in range(1000000):
        a * 2

start = time.perf_counter()
calc(10)
end = time.perf_counter()
print(end - start)

0.09627240000008896

In [43]:
# 46
# write a python function to convert an integer to hexa decimant format

def convert_int_to_hexa(n):
    return hex(n)

convert_int_to_hexa(100)

'0x64'

In [44]:
# 47
# write a python program to add and print two franction numbers

from fractions import Fraction

a = Fraction(10, 2)
b = Fraction(3, 4)

print(a+b)

23/4

In [45]:
# 48
# write a python program to print 0.1 upto 30 decimal positions

n = 0.1
print(format(n, '0.30f'))

0.100000000000000005551115123126

In [46]:
# 49
# write a python program to write a function with docstring and then show the docstring using help

def dummy_func():
    '''
    Does nothing literally!
    '''
    pass

help(dummy_func)

Help on function dummy_func in module __main__:

dummy_func()
    Does nothing literally!

In [51]:
# 50
# write a python program to merge three dictionaries using unpacking

d1 = {'a': 1, 'b':2}
d2 = {'c': 3, 'd':4}
d3 = {'e': 5, 'f':6}

d = {**d1, **d2, **d3}
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [52]:
# 51
# write a python program to check and print if an element is present in a list

e = 10
l = [1,2,3,4,5,5,100]

print(e in l)

False

In [54]:
# 52
# write a python function to get average value for all the numbers given as input

def avg_of_all_nbr(*args):
    return sum(args) / len(args)

avg_of_all_nbr(1,2,3,4,5)

3.0

In [56]:
# 53
# write a recursive pytoh program to get the factorial of a number

def factorial(n):
    if n < 1:
        return 1
    else: 
        return n * factorial(n - 1)

factorial(10)

3628800

In [57]:
# 54
# write a python lambda function to sum any number of given input numbers

f = lambda *args: sum(args)

f(1,2,3,4,5,6)

21

In [58]:
# 55
# write a python program to sort a list based on their squared values using lambda function

l = [-4, 2, 3, -2, 0, 1, -3, 5]

sorted(l, key=lambda x: x**2)

[0, 1, 2, -2, 3, -3, -4, 5]

In [59]:
# 56
# write a python function with default parameters and once the function is defined, print the default parameters and name of the function

def dummy_func(x=10, y=20):
    print(x,y)

print(dummy_func.__defaults__)
print(dummy_func.__name__)

(10, 20)
dummy_func

In [60]:
# 57
# write a python program to define a tuple and then raise typeerror while trying to update its values

t = (1, 2, 3, 4)
try:
    t[0] = 5
except:
    raise TypeError("Cannot change values in a tuple")

TypeError: Cannot change values in a tuple

In [65]:
# 58
# in python program create a tuple of 10 strings and then create a random sample of 3 for five times

s = ('bangalore', 'mumbai', 'delhi', 'kolkata', 'pune', 'gurugram', 'bhubaneswar', 'cuttack', 'noida', 'gandhinagar')
import random
for _ in range(5):
    print(random.choices(s, k=3))

['cuttack', 'gurugram', 'noida']
['gandhinagar', 'bangalore', 'noida']
['bhubaneswar', 'gandhinagar', 'kolkata']
['gandhinagar', 'mumbai', 'bhubaneswar']
['mumbai', 'kolkata', 'mumbai']

In [66]:
# 59
# write a python program with variable a and a function that uses and updates another variable with same name. show if the global a is changed by the function

a = 10
print(a)

def func():
    a = 20
    pass

func()

print(a)

10
10

In [67]:
# 60
# write a python function to get a square root of a number

def sqrt_func(n):
    return n**0.5

sqrt_func(10)

3.1622776601683795

In [68]:
# 61
# write a python program with lambda function that takes a number and multiplies that with a global variable

a = 10

f = lambda n: a * n

f(4)

40

In [76]:
# 62
# write a python program that takes an element in a list and then prints the next element, print a message when end of the index reaches

l = [4, 5, 3, 7, 2, 0, 9]
def get_next_elem(l, v):
    i = l.index(v)
    if i < (len(l)-1):
        return l[i+1]
    else:
        print("There is no next element to the given one")

get_next_elem(l, 5)

3

In [77]:
# 63
# write a python function to join all the elements of a list with a given separator

def join_all_elems(l, s):
    return s.join(l)

join_all_elems(['hello', 'I', 'am', 'XOR'], ' ')

'hello I am XOR'

In [81]:
# 64
# write a python function with for loop to print only even numbers from a list of numbers with range from 0 to 10

def for_loop_print_even(n):
    for i in range(n):
        if i%2 == 0:
            print(i)

for_loop_print_even(10)

0
2
4
6
8

In [82]:
# 65
# write a python function to print the maximum number from a tuple

def print_max_tuple(t):
    print(max(t))

print_max_tuple((1, 6, 4, -3, 2))

6

In [86]:
# 66
# write a python program to return a list of one to one pair between two tuples using zip
t1 = (1,3,5,7,9)
t2 = (2,4,6,8,0)

def pair_oneone_tuples(t1, t2):
    return [(i, j) for i, j in zip(t1, t2)]
pair_oneone_tuples(t1, t2)

[(1, 2), (3, 4), (5, 6), (7, 8), (9, 0)]

In [87]:
# 67
# write a python program that can yield square of numbers within a range

def squares(lim):
    i = 0
    while True:
        if i < lim:
            result = i**2
            i += 1
            yield result
        else:
            return 'all done!'

In [91]:
for n in squares(5):
    print(n)

0
1
4
9
16

In [92]:
# 68
# write a python program to remove all the elements from list a that are present in list b using set up operation

a = [1,2,3,4,5]
b = [3,5,7,8]

list(set(a) - (set(b)))

[1, 2, 4]

In [93]:
# 69
# write a python function to create a generator of square of numbers within range of 5

g = (i**2 for i in range(5))

for v in g:
    print(v)

0
1
4
9
16

In [94]:
# 70
# write a python function to read a sentence and print only alternate words from it joined by spaces

def print_alt_sents_spaces(sent):
    ws = sent.split()
    ws = ws[::2]
    return ' '.join(ws)

print_alt_sents_spaces("Well, today is a good day. Having been coding since morning.")

'Well, is good Having coding morning.'

In [95]:
# 71
# write a python function to take an interger and print its previous and next integers

def print_prev_next_ints(n):
    print(n-1, n+1)

print_prev_next_ints(10)

9 11

In [96]:
# 72
# write a python function to check if a string is present in another string

def string_in_string(s1, s2):
    return s1 in s2

string_in_string("Hello", "Hello, how are you?")

True

In [97]:
# 73
# write a python function to check if an object is present in a list

def obj_in_list(o, l):
    return o in l

obj_in_list(5, [1,2,3,4,5])

True

In [2]:
# 74
# write a python function to print a given list in reverse order using reverse method

def reverse_list(l):
    l.reverse()
    return l

reverse_list([1,2,3,4])

[4, 3, 2, 1]

In [4]:
# 75
# write a python function to concatenate any number of given strings

def concatenate_strings(*strings):
    return ''.join(strings)

concatenate_strings('hello', 'how', 'are', 'you')

'hellohowareyou'

In [6]:
# 78
# write a python function to print if a given number is less than 100

def check_nbr_less_than_100(n):
    print(n < 100)

check_nbr_less_than_100(80)

True

In [10]:
# 79
# write a python program where one function calls another function to print a variable s that is initialized with 10 in calling function

def called_func(a):
    print(a)
def calling_func(func):
    s = 10
    func(s)

calling_func(called_func)

10

In [11]:
# 80
# write a python function to take a string as input and print a list of all the characters

def string_to_list(s):
    print(list(s))

string_to_list("hello")

['h', 'e', 'l', 'l', 'o']

In [12]:
# 81
# write a python program to print True or False if "hello" is present in "hey, how are you?"

s1 = 'hello'
s2 = 'hey, how are you?'

print(s1 in s2)

False

In [13]:
# 82
# write a python program to print add a digit with a string and raise a type error

n = 10
s = 'hey'

try:
    print(n + s)
except:
    raise TypeError("Number cannot be added to string")

TypeError: Number cannot be added to string

In [14]:
# 83
# write a python program to find the percentage of words in a sentence that are having vowels in it and print the percentage after rounding it. 
# use list comprehence and any method

sent = "Hi, I am XYZ. One day I would like buy an island with beautiful beach around it."
vowels = ['a', 'e', 'i', 'o', 'u']

words = sent.split()
words_with_vowels = [w for w in words if any(v in w for v in vowels)]

pct = len(words_with_vowels) * 100 / len(words)
print(round(pct))

82

In [16]:
# 84
# write a python function to take a string as input and print first 5 characters using slicing

def slice_print_string(s):
    print(s[:5])

slice_print_string('teslaspacex')

tesla

In [18]:
# 85
# write a python function to print last five chacters from a given input string

def print_last_five_chrs_string(s):
    print(s[-5:])

print_last_five_chrs_string('Indians')

dians

In [23]:
# 86
# write a python function take a string and return that list of its words but with every alternate strings in upper case using list comprehenson

def upper_alt_str_list(s):
    words = s.split()
    words = [w.upper() if i%2==1 else w for i, w in enumerate(words)]
    return words

upper_alt_str_list("Epai course is an amazing learning experience!!")

['Epai', 'COURSE', 'is', 'AN', 'amazing', 'LEARNING', 'experience!!']

In [24]:
# 87
# write a python function to add two numbers

def add_num(a, b):
    return a + b

add_num(5, 6)

11

In [25]:
# 88
# write a python function to multiply two numbers

def mul_nums(a, b):
    return a*b

mul_nums(2, 3)

6

In [26]:
# 89
# write a python function to take a string as input and print that 5 times followed by a new line

def print_str(s):
    print((s+'\n')*5)

print_str('hey')

hey
hey
hey
hey
hey

In [27]:
# 90
# write a python function print a random choice from a list [1,2,3,4,5,6] of numbers 3 times

def rand_print_list(l):
    import random
    for i in range(3):
        print(random.choice(l))

rand_print_list([1,2,3,4,5,6])

6
5
4

In [28]:
# 91
# write a python function to print a random choice of characters from a list of string "how are you"

def rand_print_str(s):
    l = list(s)
    import random
    for i in range(3):
        print(random.choice(l))

rand_print_str("how are you")

o
a
a

In [29]:
# 92
# write a function to divide a number assigned to variable a by another variable b and return the rounded result

def divide_func(a, b):
    return round(a/b)

divide_func(10, 5)

2

In [31]:
# 93
# write a function to take a list of numbers and multiply each element with a random choice between 0 and 1 and return the updated list

def rand_mul_list(l):
    import random
    for i in range(len(l)):
        l[i] = l[i] * random.choice([0,1])
    return l

rand_mul_list([1,2,3,4,5,6,7])

[0, 0, 0, 4, 0, 0, 7]

In [36]:
# 94
# write a python function to print if any of the elements in a tuple is true

def any_of_tuple(t):
    if any(t):
        print(True)
    else:
        print(False)
        
any_of_tuple((0, 4, False))

True

In [35]:
# 95
# write a python function to print if all of the elements in a tuple are true

def all_of_tuple(t):
    if all(t):
        print(True)
    else:
        print(False)
        
all_of_tuple((0, 4, False))

False

In [37]:
# 96
# write a python function to print number of characters in a string

def print_nbr_chrs_in_str(s):
    print(len(s))

print_nbr_chrs_in_str("hey")

3

In [38]:
# 97
# write a python function to print length of a set

def print_lenght_of_set(s):
    print(len(s))
    
print_lenght_of_set({1,3,4,5,5})

4

In [39]:
# 98
# write a python function to print all the keys of dictionary using for loop

def print_keys_dict(d):
    for k in d:
        print(k)

print_keys_dict({'a':2, 'b':3})

a
b

In [40]:
# 99
# write a python function to split a sentence and create a dictionary with their indexes as keys and words as values using enumerate

def sent_to_dict(s):
    l = s.split()
    d = {k:v for k, v in enumerate(l)}
    return d

sent_to_dict("how are you today")

{0: 'how', 1: 'are', 2: 'you', 3: 'today'}

In [41]:
# 100
# write a python function to take two strings and prints the greater string

def print_greater_string(s1, s2):
    if s1 > s2:
        print(s1)
    else:
        print(s2)

print_greater_string('hello', 'hi')

hi