## Session 15 Assignment

For this project you are given a file that contains some parking ticket violations for NYC.

(It's just a tiny extract!)

If you're wondering where I get these data sets, Kaggle is an excellent source of data sets in a whole variety of topics: https://www.kaggle.com/

You have to sign up, but it's free.

If you want the full data set, it's available here: https://www.kaggle.com/new-york-city/nyc-parking-tickets/version/2#

For this sample data set, the file is named:

nyc_parking_tickets_extract.csv
Your goals are as follows:

**Goal 1**
Create a lazy iterator that will return a named tuple of the data in each row. The data types should be appropriate - i.e. if the column is a date, you should be storing dates in the named tuple, if the field is an integer, then it should be stored as an integer, etc.

**Goal 2**
Calculate the number of violations by car make.

Note:
Try to use lazy evaluation as much as possible - it may not always be possible though! That's OK, as long as it's kept to a minimum.

### Goal 1

Load the dataset

In [2]:
import os
os.chdir(r'C:\Users\bhaga\Documents\EPAI\S15')

file_name = 'nyc_parking_tickets_extract-1.csv'

In [3]:
with open(file_name) as f:
    for _ in range(5):
        print(next(f))

Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Violation Description

4006478550,VAD7274,VA,PAS,10/5/2016,5,4D,BMW,BUS LANE VIOLATION

4006462396,22834JK,NY,COM,9/30/2016,5,VAN,CHEVR,BUS LANE VIOLATION

4007117810,21791MG,NY,COM,4/10/2017,5,VAN,DODGE,BUS LANE VIOLATION

4006265037,FZX9232,NY,PAS,8/23/2016,5,SUBN,FORD,BUS LANE VIOLATION

In [6]:
with open(file_name) as f:
    columns = next(f).strip('\n').split(',') # reads the first row as header in the dataset
    data1 = next(f).strip('\n').split(',') # values start from second row

In [7]:
list(zip(columns, data1))

[('Summons Number', '4006478550'),
 ('Plate ID', 'VAD7274'),
 ('Registration State', 'VA'),
 ('Plate Type', 'PAS'),
 ('Issue Date', '10/5/2016'),
 ('Violation Code', '5'),
 ('Vehicle Body Type', '4D'),
 ('Vehicle Make', 'BMW'),
 ('Violation Description', 'BUS LANE VIOLATION')]

**Following datatype mapping to be done for corresponding columns**

Summons Number: integers  
Plate ID: string  
Registration State: string  
Plate Type: string  
Issue Date: dates  
Violation Code: integers  
Vehicle Body Type: string  
Vehicle Make: string  
Violation Description: string

### Column parser to set appropriate format

In [12]:
def convert_int(value):
    try:
        return int(value)
    except:
        raise ValueError("Invalid format for integer conversion")

In [13]:
from datetime import datetime

def convert_date(value):
    date_format='%m/%d/%Y'
    try:
        return datetime.strptime(value, date_format).date()
    except:
        raise ValueError("Invalid format for date conversion")

In [14]:
def convert_string(value):
    try:
        if str(value).strip():
            return str(value).strip()
        else:
            return None
    except:
        raise ValueError("Invalid format for string conversion")

In [15]:
column_parsers = (convert_int,  
                  convert_string, 
                  convert_string,  
                  convert_string, 
                  convert_date,  
                  convert_int,  
                  convert_string, 
                  convert_string, 
                  convert_string
                 )

In [40]:
def parse_row(row):
    values = row.strip('\n').split(',')
    data = tuple(func(v) for func, v in zip(column_parsers, values))
    return data

In [17]:
def read_file():
    with open(file_name) as f:
        next(f) # skip header
        yield from f

In [41]:
rows = read_file()
for _ in range(5):
    row = next(rows)
    parsed_data = parse_row(row)
    print(list(parsed_data))

[4006478550, 'VAD7274', 'VA', 'PAS', datetime.date(2016, 10, 5), 5, '4D', 'BMW', 'BUS LANE VIOLATION']
[4006462396, '22834JK', 'NY', 'COM', datetime.date(2016, 9, 30), 5, 'VAN', 'CHEVR', 'BUS LANE VIOLATION']
[4007117810, '21791MG', 'NY', 'COM', datetime.date(2017, 4, 10), 5, 'VAN', 'DODGE', 'BUS LANE VIOLATION']
[4006265037, 'FZX9232', 'NY', 'PAS', datetime.date(2016, 8, 23), 5, 'SUBN', 'FORD', 'BUS LANE VIOLATION']
[4006535600, 'N203399C', 'NY', 'OMT', datetime.date(2016, 10, 19), 5, 'SUBN', 'FORD', 'BUS LANE VIOLATION']

**Generator to print named tuples of columns and values in corresponding type**

In [32]:
columns

['Summons Number',
 'Plate ID',
 'Registration State',
 'Plate Type',
 'Issue Date',
 'Violation Code',
 'Vehicle Body Type',
 'Vehicle Make',
 'Violation Description']

In [36]:
from collections import namedtuple

Colval = namedtuple('Colval', ['Summons_Number','Plate_ID','Registration_State','Plate_Type','Issue_Date','Violation_Code', 'Vehicle_Body_Type','Vehicle_Make','Violation_Description'])

In [42]:
def parse_rows_gen():
    for row in read_file():
        yield Colval(*parse_row(row))

In [62]:
# rows = [list() for _ in range(9)]

# rows

In [58]:
rows = []

In [59]:
index = 0
for r in parse_rows_gen():
#     index = index % 9
    rows.append(r)
    index += 1

In [60]:
rows[:10]

[Colval(Summons_Number=4006478550, Plate_ID='VAD7274', Registration_State='VA', Plate_Type='PAS', Issue_Date=datetime.date(2016, 10, 5), Violation_Code=5, Vehicle_Body_Type='4D', Vehicle_Make='BMW', Violation_Description='BUS LANE VIOLATION'),
 Colval(Summons_Number=4006462396, Plate_ID='22834JK', Registration_State='NY', Plate_Type='COM', Issue_Date=datetime.date(2016, 9, 30), Violation_Code=5, Vehicle_Body_Type='VAN', Vehicle_Make='CHEVR', Violation_Description='BUS LANE VIOLATION'),
 Colval(Summons_Number=4007117810, Plate_ID='21791MG', Registration_State='NY', Plate_Type='COM', Issue_Date=datetime.date(2017, 4, 10), Violation_Code=5, Vehicle_Body_Type='VAN', Vehicle_Make='DODGE', Violation_Description='BUS LANE VIOLATION'),
 Colval(Summons_Number=4006265037, Plate_ID='FZX9232', Registration_State='NY', Plate_Type='PAS', Issue_Date=datetime.date(2016, 8, 23), Violation_Code=5, Vehicle_Body_Type='SUBN', Vehicle_Make='FORD', Violation_Description='BUS LANE VIOLATION'),
 Colval(Summons_Number=4006535600, Plate_ID='N203399C', Registration_State='NY', Plate_Type='OMT', Issue_Date=datetime.date(2016, 10, 19), Violation_Code=5, Vehicle_Body_Type='SUBN', Vehicle_Make='FORD', Violation_Description='BUS LANE VIOLATION'),
 Colval(Summons_Number=4007156700, Plate_ID='92163MG', Registration_State='NY', Plate_Type='COM', Issue_Date=datetime.date(2017, 4, 13), Violation_Code=5, Vehicle_Body_Type='VAN', Vehicle_Make='FRUEH', Violation_Description='BUS LANE VIOLATION'),
 Colval(Summons_Number=4006687989, Plate_ID='MIQ600', Registration_State='SC', Plate_Type='PAS', Issue_Date=datetime.date(2016, 11, 21), Violation_Code=5, Vehicle_Body_Type='VN', Vehicle_Make='HONDA', Violation_Description='BUS LANE VIOLATION'),
 Colval(Summons_Number=4006943052, Plate_ID='2AE3984', Registration_State='MD', Plate_Type='PAS', Issue_Date=datetime.date(2017, 2, 1), Violation_Code=5, Vehicle_Body_Type='SW', Vehicle_Make='LINCO', Violation_Description='BUS LANE VIOLATION'),
 Colval(Summons_Number=4007306795, Plate_ID='HLG4926', Registration_State='NY', Plate_Type='PAS', Issue_Date=datetime.date(2017, 5, 30), Violation_Code=5, Vehicle_Body_Type='SUBN', Vehicle_Make='TOYOT', Violation_Description='BUS LANE VIOLATION'),
 Colval(Summons_Number=4007124590, Plate_ID='T715907C', Registration_State='NY', Plate_Type='OMT', Issue_Date=datetime.date(2017, 4, 3), Violation_Code=5, Vehicle_Body_Type='SUBN', Vehicle_Make='TOYOT', Violation_Description='BUS LANE VIOLATION')]

### Goal 2

Calculate Number of Violations by Car Make.

In [70]:
rows_gen = parse_rows_gen()
for i in range(10):
    print(list(next(rows_gen))[7])

BMW
CHEVR
DODGE
FORD
FORD
FRUEH
HONDA
LINCO
TOYOT
TOYOT

In [71]:
violation_counts= {}

for rows in rows_gen:
    maker = list(next(rows_gen))[7]
    if maker in violation_counts:
        violation_counts[maker] += 1
    else:
        violation_counts[maker] = 1

In [72]:
violation_counts

{'CHEVR': 40,
 'CHRYS': 7,
 'DODGE': 21,
 'FIR': 1,
 'FORD': 51,
 'HONDA': 51,
 'HYUND': 18,
 'JAGUA': 3,
 'JEEP': 11,
 'LEXUS': 13,
 'ME/BE': 18,
 'MERCU': 3,
 'NISSA': 34,
 'TOYOT': 53,
 'HIN': 5,
 'WORKH': 1,
 'AUDI': 7,
 'BMW': 15,
 'FRUEH': 21,
 'GMC': 18,
 'INTER': 11,
 'ISUZU': 4,
 'KENWO': 3,
 'NS/OT': 9,
 'OLDSM': 1,
 'SUBAR': 10,
 'VOLVO': 6,
 'SATUR': 2,
 'INFIN': 6,
 'PETER': 1,
 'ACURA': 7,
 'CADIL': 4,
 'KIA': 3,
 'BUICK': 3,
 'LINCO': 6,
 'MAZDA': 2,
 'SMART': 2,
 'VOLKS': 4,
 'YAMAH': 1,
 'ROVER': 2,
 'MINI': 1,
 'SPRI': 1,
 'PLYMO': 1,
 'SCION': 1,
 'MITSU': 4,
 'PORSC': 1,
 'UPS': 1,
 'UD': 1,
 None: 1,
 'STAR': 1,
 'SAAB': 1,
 'AM/T': 1,
 'HINO': 1,
 'MI/F': 1}